<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%include ./navbar.ejs%>
  <title>Add Test</title>
</head>

<body class="container">

    <div class="jumbotron">
        <h1>Ajouter un test</h1>
    </div>

<form action="/test/addTest" method="post">
    <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" name="name" class="form-control" id="name"  placeholder="Nom du test" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" id="description" placeholder="Description du test">Etant donné
Lorsque
Alors</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Sauvegarder</button>
    <a class="btn btn-secondary" href="/test">Annuler</a>
</form>

</body>
</html>