<html>

<head>
    <title> Nouvelle issue </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%- include('./navbar.ejs', {project: project})%>
</head>

<body>
    <form action="/projects/<%= project._id %>/issues/create" method="POST">
        <div>
            <label for="id">ID</label>
            <input placeholder="ID"  name="id" id="idInput" required>
        </div>
        <div>
            <label for="name">Nom</label>
            <input placeholder="Nom" name="name" required>
        </div>
        <div>
            <label for="description">Nom</label>
            <input placeholder="Descrption" name="description" required>
        </div>
        <div>
            <label for="priority">Priorité</label>
            <input placeholder="Priorité" name="priority" required>
        </div>
        <div>
            <label for="difficulty">Difficulté</label>
            <input placeholder="Difficulté" name="difficulty" required>
        </div>
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
        <a type="button" class="btn btn-secondary" href="/projects/<%= project._id %>/issues">Annuler</a>
    </form>


</body>

</html>