<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%include ./navbar.ejs%>
  <title>Test</title>
</head>
<body class="container">

<div class="jumbotron">
    <h1>Test</h1>
    <p>Voici la liste des tests</p>
</div>

<a href="/test/addTest" class="btn btn-success btn-lg">Créer un nouveau test</a>

<ul class="list-unstyled"></ul>
<% tests.forEach(function(test) { %>
    <li class="media my-4">
        
          
          <div class="media-body">
              <h5 class="mt-0 mb-1"><%= test._name %></h5>
          </div> 
          <form action="/test/deleteTest" method="post">
            <input type="text" name="id" class="form-control" id="id" value="<%= test._id %>" hidden>
            <button type="submit" class="btn btn-danger">Supprimer</button>
          </form>  
          <a href="/test/updateTest?id=<%=test._id%>" class="btn btn-primary">Modifier</a>  
          
    </li>
<% }); %>
</ul>


</body>
</html>